@font-face {
  font-family: 'Georgia';
  src: URL('./static/fonts/Georgia.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

.navbar {
  position: fixed;
  z-index: 4000;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: space-between;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.signed-in {
  display: flex;
}

.home-container {
  width: 100vw;
}

.landing-section {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.locate {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 30px;
  cursor: pointer;
}

.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.inputLocation{
  width: 80% !important;
  height: 8% !important;
}


/* Modal Styling */

.modal-dialog {
  max-width: 100%;
  margin: 2.2rem 0;
}

.modal-header {
  padding: 0 1rem;
  border-bottom: none;
  font-family: 'Georgia';
}

.modal-content {
  text-align: center;
  background-color: rgba(17, 23, 22, .6);
  color: #FFFAE5;
}

.close {
  color: white;
  opacity: 1;
}

/* Map Container Styling */
.map-container, .searchbar-container, .community-container {
  padding: 0;
  margin-left: -3rem;
}

.searchbar-container {
  margin: 2rem 0;
}

.com-img {
  width: 100%;
}

.community-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: rgba(0,0,0,.6);
  color: #FFFAE5;
  height: 101.8%;
  display: flex;
  width: 50%;
  align-items: center;
  text-align: center;
}

.page-footer {
  background-color: #87AB7F;
  width: 100vw;
  margin-left: -3rem;
  margin-bottom: -4rem;
}

.footer-desc {
  background-color: #363636;
  border-radius: 10px;
  margin-left: -3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding: 40px;
}

.footer-link {
  color: inherit;
}

.footer-copyright {
  margin-top: 2rem;
}