@font-face {
  font-family: 'Georgia';
  src: URL('./static/fonts/Georgia.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
}

.navbar {
  position: fixed;
  z-index: 4000;
  top: 0;
  left: 0;
  width: 100vw;
  justify-content: space-between;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.home-container {
  width: 100vw;
}

.landing-section {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.locate {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 30px;
  cursor: pointer;
}

.search {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
}

.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.inputLocation{
  width: 80% !important;
  height: 8% !important;
}
.localupdates-header{
  display: flex;
  justify-content: space-between;
}
.localupdates-cards{
  display: flex;
  justify-content: space-between;
}
.card-holder{
  display: flex;
  width: 300px;
  height: 100px;
  flex-direction: column;
  margin: 0px 2vw;
}

.cards-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards-footer{
  display: flex;

}
.card-footer-section{
  margin: 10px;
}
.searchbaar{
  background-color: red;
  width: 200px;
  height: 10%;
}
.saved-updates{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  width: 100vw;
  background-color: #000000a2;
}
.saved-update{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 20vw;
  background-color: #ffffff9d;
}


/* Modal Styling */

.modal-dialog {
  max-width: 100%;
  margin: 2.2rem 0;
}

.modal-header {
  padding: 0 1rem;
  border-bottom: none;
  font-family: 'Georgia';
}

.modal-content {
  text-align: center;
  background-color: rgba(17, 23, 22, .6);
  color: #FFFAE5;
}

.close {
  color: white;
  opacity: 1;
}

/* Map Container Styling */
.map-container, .searchbar-container, .community-container {
  padding: 0;
  margin-left: -3rem;
}

.searchbar-container {
  margin: 2rem 0;
}

.com-img {
  width: 100%;
}

.community-text {

}

.earthquake-map{
  height: 200px;
  width: auto;
}

.wildfire-map{
  height: 200px;
  width: auto;
}

.saved-updates-h2{
  margin-top: 450px;
}

.localupdates-content{
  display: flex;
}